<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of your courses</title>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/Stylesheet.css" th:href="@{/css/Stylesheet.css}" />
</head>
<body>
	<div class="logoutHome">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div class="main">
		<h1>Welcome to your list of courses</h1>
		<h2>Select a course to see its appeals</h2>
		<table>
			<thead>
				<tr>
					<th>Course Name</th>
					<th>Appeals Link</th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="course : ${courses}">
					<td th:text="${course.title}">TIW</td>
					<td><a href="Home.html"
						th:href="@{/GetAppeal(courseId=${course.courseId})}">Appeals</a></td>
				</tr>
			</tbody>
		</table>
		<p class="error" th:if="${error != null}"
			th:text="${error.status} + ': ' + ${error.message}">Arma virumque
			cano, Troiae qui primus ab oris</p>
	</div>
</body>
</html>
