<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/Stylesheet.css" th:href="@{/css/Stylesheet.css}" />
<title>TIW Exam Project</title>
</head>
<body>
	<div class="loginSwitch">
		<a href="GetLogin?type=ria"><button>LOGIN RIA</button></a>
	</div>
	<div class="main">

		<h1>Welcome to Exam project - Pure HTML version</h1>
		<div class="login">
			<form action="GetAccess" method="POST">
				Person ID: <input type="text" name="personId" required> <br>
				<br> Password: <input type="password" name="password" required><br>
				<br> <input type="submit" value="Login">
			</form>
		</div>
		<p class="error" th:if="${error != null}"
			th:text="${error.status} + ': ' + ${error.message}">Arma virumque
			cano, Troiae qui primus ab oris
		</p>
	</div>
</body>
</html>