<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List of your courses</title>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	href="../css/Stylesheet.css" th:href="@{/css/Stylesheet.css}" />
</head>
<body>
	<div class="logout" align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div class="main">
		<h1>Welcome to subscribers page</h1>
		<table>
			<thead>
				<tr>
					<th><a href="Login.html"
						th:href="@{/GetSubscribers(appeal=${appId},field='studentId',changeOrder='true')}">StudentId</a></th>
					<th><a href="Login.html"
						th:href="@{/GetSubscribers(appeal=${appId},field='surname',changeOrder='true')}">Surname</a></th>
					<th><a href="Login.html"
						th:href="@{/GetSubscribers(appeal=${appId},field='name',changeOrder='true')}">Name</a></th>
					<th><a href="Login.html"
						th:href="@{/GetSubscribers(appeal=${appId},field='email',changeOrder='true')}">Email</a></th>
					<th><a href="Login.html"
						th:href="@{/GetSubscribers(appeal=${appId},field='degree_course',changeOrder='true')}">Degree
							course</a></th>
					<th><a href="Login.html"
						th:href="@{/GetSubscribers(appeal=${appId},field='grade',changeOrder='true')}">Grade</a></th>
					<th><a href="Login.html"
						th:href="@{/GetSubscribers(appeal=${appId},field='state',changeOrder='true')}">State</a></th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody th:remove="all-but-first">
				<tr th:each="gr,iterStat : ${grades}"
					th:class="${iterStat.even} ? 'even'">
					<td th:text=${gr.studentId}>0</td>
					<td th:text=${gr.studentSurname}>Resta</td>
					<td th:text=${gr.studentName}>Ferruccio</td>
					<td th:text=${gr.email}>ferruccio.resta@mail.polimi.it</td>
					<td th:text=${gr.degreeCourse}>Ingegneria Informatica</td>
					<td
						th:text="${#strings.equals(gr.state, 'not entered') ? 'null' : #strings.toUpperCase(gr.grade)}"
						th:class="${#strings.equalsIgnoreCase(gr.grade, 'recalled') or
							    #strings.equalsIgnoreCase(gr.grade, 'failed') or
								#strings.equalsIgnoreCase(gr.grade, 'absent')} ? 'fail' : (${not #strings.equalsIgnoreCase(gr.grade, '0')} ? 'passed')"
						class="passed">30</td>
					<td th:text=${#strings.toUpperCase(gr.state)}>ENTERED</td>
					<td><a
						th:href="@{/GetModify(appealId=${gr.appealId},studentId=${gr.studentId})}"
						th:if="${#strings.equalsIgnoreCase(gr.state, 'entered') or
							 #strings.equalsIgnoreCase(gr.state, 'not entered')}">
							<button>Edit</button>
					</a></td>
				</tr>
			</tbody>
		</table>
		<form action="PublishGrade" method="POST">
			<input type="hidden" name="appeal" th:value="${appId}"><input
				type="submit" value="Publish">
		</form>
		<form action="CreateReport" method="POST">
			<input type="hidden" name="appeal" th:value="${appId}"><input
				type="submit" value="Report">
		</form>
		<form action="GetAllReports" method="GET">
			<input type="hidden" name="appeal" th:value="${appId}"><input
				type="submit" value="See all reports">
		</form>
	</div>
</body>
</html>