<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>TIW-Exam-Project</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/tiw_project</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>ComeOnYouIrons1571@</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>GetLogin</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>SessionChecker</filter-name>
		<filter-class>it.polimi.tiw.exam.filters.SessionChecker</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionChecker</filter-name>
		<url-pattern>/GetCourses</url-pattern>
		<url-pattern>/GetAppeal</url-pattern>
		<url-pattern>/GetResult</url-pattern>
		<url-pattern>/GetSubscribers</url-pattern>
		<url-pattern>/PublishGrade</url-pattern>
		<url-pattern>/RefuseGrade</url-pattern>
		<url-pattern>/GetModify</url-pattern>
		<url-pattern>/Edit</url-pattern>
		<url-pattern>/CreateReport</url-pattern>
		<url-pattern>/GetReports</url-pattern>
		<url-pattern>/ProfessorHome.html</url-pattern>
		<url-pattern>/StudentHome.html</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>GetMethodFilter</filter-name>
		<filter-class>it.polimi.tiw.exam.filters.GetMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GetMethodFilter</filter-name>
		<url-pattern>/GetAppeal</url-pattern>
		<url-pattern>/GetModify</url-pattern>
		<url-pattern>/GetSubscribers</url-pattern>
		<url-pattern>/GetReports</url-pattern>
		<url-pattern>/GetResult</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>PostMethodFilter</filter-name>
		<filter-class>it.polimi.tiw.exam.filters.PostMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PostMethodFilter</filter-name>
		<url-pattern>/Edit</url-pattern>
		<url-pattern>/CreateReport</url-pattern>
		<url-pattern>/PublishGrade</url-pattern>
		<url-pattern>/RefuseGrade</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ProfessorFilter</filter-name>
		<filter-class>it.polimi.tiw.exam.filters.ProfessorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ProfessorFilter</filter-name>
		<url-pattern>/GetSubscribers</url-pattern>
		<url-pattern>/PublishGrade</url-pattern>
		<url-pattern>/GetModify</url-pattern>
		<url-pattern>/Edit</url-pattern>
		<url-pattern>/CreateReport</url-pattern>
		<url-pattern>/GetReports</url-pattern>
		<url-pattern>/ProfessorHome.html</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>StudentFilter</filter-name>
		<filter-class>it.polimi.tiw.exam.filters.StudentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StudentFilter</filter-name>
		<url-pattern>/GetResult</url-pattern>
		<url-pattern>/RefuseGrade</url-pattern>
		<url-pattern>/StudentHome.html</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AppealChecker</filter-name>
		<filter-class>it.polimi.tiw.exam.filters.AppealChecker</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AppealChecker</filter-name>
		<url-pattern>/GetModify</url-pattern>
		<url-pattern>/Edit</url-pattern>
		<url-pattern>/PublishGrade</url-pattern>
		<url-pattern>/CreateReport</url-pattern>
		<url-pattern>/GetReports</url-pattern>
		<url-pattern>/RefuseGrade</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AppealCheckerRIA</filter-name>
		<filter-class>it.polimi.tiw.exam.filters.AppealCheckerRIA</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AppealCheckerRIA</filter-name>
		<url-pattern>/GetModifyRIA</url-pattern>
		<url-pattern>/EditRIA</url-pattern>
		<url-pattern>/PublishRIA</url-pattern>
		<url-pattern>/ReportRIA</url-pattern>
		<url-pattern>/GetReportsRIA</url-pattern>
		<url-pattern>/RefuseGradeRIA</url-pattern>
		<url-pattern>/GetNotEnteredRIA</url-pattern>
	</filter-mapping>
</web-app>